@import "quasar.variables";

// ============================================================================
// Body
// ============================================================================

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10pt;
  color: $light-text;
  background-color: $light-background-1;
}

body.body--dark {
  color: $dark-text;
  background-color: $dark-background-1;
}

// ============================================================================
// Frame
// ============================================================================

.frame {
  background-color: $light-background-0;
  box-shadow: 5px 5px 10px 0 $light-shadow;
}

.body--dark .frame {
  background-color: $dark-background-0;
  box-shadow: 5px 5px 10px 0 $dark-shadow;
}

// ============================================================================
// QMenu
// ============================================================================

.q-menu {
  font-size: 9pt;
  background-color: $light-background-0;
  box-shadow: 5px 5px 10px 0 $light-shadow;
}

.body--dark .q-menu {
  background-color: $dark-background-0;
  box-shadow: 5px 5px 10px 0 $dark-shadow;
}

// ============================================================================
// QField
// ============================================================================

.q-field {
  font-size: 9pt;
}
